/*
Theme Name: The7 - Child
Author: Nooijen Solutions
Author URI: http://nooijensolutions.nl/
Description: This is a child theme for The7. Please use this theme to ensure changes are not lost when updating the theme.
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7-old
*/

#panden h4 {
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 60px;
}

.post-thumbnail {
  display: none;
}

#panden h4:nth-child(2) {
	display: none;
}